<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your One-Time Message</title>
    <link rel="stylesheet" href="/css/message.css">
</head>
<body>

    <!-- Navbar -->
    <!-- <nav class="navbar">
        <div class="container">
            <a href="/" class="logo">One-Time Message</a>
            <div class="nav-links">
                <a href="/" class="nav-item">Home</a>
                <a href="/privacy" class="nav-item">Privacy Policy</a>
            </div>
        </div>
    </nav> -->

    <!-- Main Section -->
    <div class="message-wrapper">
        <div class="avatar">
            <img src="/imgs/avatar.png" alt="User Avatar" class="avatar-image">
            <a href="/" style="color: rgb(34, 127, 214); font-size: 1.5rem;">HOME</a>
        </div>
        
        <div class="message-container">
            <p class="message-text"><%= message %></p>
        </div>
        <h2 style="color: darkred;">KEINE SPUREN</h2>
       <h3 style="color: rgba(13, 160, 79, 0.89);">Diese Nachricht wurde <span style="color: red;">GELÖSCHT</span> und kann nicht mehr abgerufen werden.</h1>
        
    </div>
    <script>
       
    </script>
</body>
</html>
